.style {
    background-color: darkseagreen;
    font-family: 'Montserrat', sans-serif;
}
.slider-img {
    height: 300px;
    width: 650px;
}
.green-img {
    position: absolute;
    left: 5%;
    height: 70%;
    width: 16%;
    z-index: 1;
}
.size1 {
    width: 16%;
    height: 90%;
    }
.size2 {
    width: 16%;
    height: 500%;
}
.size3 {
    width: 16%;
    bottom: -185%;
    height: 1600px;
}
.size4 {
    width: 16%;
    bottom: -130%;
    height: 1480px;
}
.sub-title {
    position: relative;
    text-align: center;
    margin-top: 0%;
    background-color: dimgrey;
    color: aliceblue;
    font-size: 20pt;
    font-size: 24pt;    
}
.logo {
    position: absolute;
    z-index: 1;
    top: -4%;
    left: -2%;
    }
.calendar-img {
    position: absolute;
    width: 20%;
    left: 70%;
    top: 62%
}
.buttons {
    position: absolute;
    bottom: 30%;
    left: 8%;
    height: 15px;
    width: 6%;
    line-height: 2;
    z-index: 9;
    font-size: 16pt;
    font-weight: bolder;
    color: aliceblue;
    }
.button-color {
    color: gainsboro;
}
.text-home {
    position: absolute;
    left: 20%;
    bottom: -2%;
    font-size: 13pt;
}
.text-about {
    position: absolute;
    left: 15%;
    width: 60%
}
.text-contact {
    position: absolute;
    left: 20%;
    width: 50%;
    bottom: 18%;
    font-size: 14pt;
}
.italics {
  text-decoration: underline;
  color: darkslategrey;
  }
.info1 {
    position: relative;
    margin-left: 20%;
    font-weight: bold;
    font-size: 13pt;
}
.info2 {
    position: relative;
    margin-left: 22%;
    }
.font {
    font-size: 16pt;
    color: darkslategrey;
} 
.location-img {
    position: absolute;
    width: 30%;
    height: 150px;
    left: 110%;
    bottom: -11%
}
.trophy-img {
    position: absolute;
    width: 30%;
    left: 104%;
    top: 25%;
}
.rules {
    margin-left: 25%;
    margin-right: 10%;
}
.rule-title {
    color: darkslategray;
    font-size: 14pt;
    font-weight: bold;
}
.rules-weight {
    font-weight: bold;
    display: inline;
}
.game-information {
    position: absolute;
    left: 25%;
    width: 75%;
}
.th, td {
    padding: 1.2%;
}
.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
.schedule {
   width: 100%;
}
.september {
    display: inline-block;
    float: left;
    position: relative;
}
.october {
    display: inline-block;
    float: right;
    position: relative;
    right: 7%;
}
.location {
    position: absolute;
    width: 80%;
    display: inline-block;
    top: 107%;
    left: 8%
}
.map {
    width: 100%;
    height: 100%;
}
.additional-information {
    position: absolute;
    width: 75%;
    display: block;
    float: bottom;
    top: 205%;
    margin-bottom: 5%;
}
.contact-info {
    word-spacing: 10px;
}
.top-button-rules {
    color: gainsboro;
    position: absolute;
    float: bottom;
}
.top-button-info {
    color: gainsboro;
    position: absolute;
    left: 0%;
    bottom: -140%;
}
.personal-info {
    display: flex;
    flex-flow: row;
    justify-content: center;   
}
.container-info {
    justify-content: center;
    order: 1;
    margin-left: 3%
}
.info-box1 {
    width: 73%
}
.info-box2 {
    width: 64.5%;
}
.info-box3 {
    width: 87.7%;
}
.info-box4 {
    width: 47.8%
}
.info-box5 {
    width: 60%;
}
.info-box6 {
    width: 63.4%;
}
.info-box7 {
    width: 62%;
}
.info-box8 {
    width: 67%;
}
.gender-field {
    margin-top: 21%
}
.email-field {
    margin-top: 35.4%;
}
.school-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.container-school {
    height: 100px;
    margin-top: 1%;
}
.position-field1 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -6%;
}
.container-position {
    margin-right: 2%
}
.position-field2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 0.8%;
}
.container-position2 {
    margin-right: 2%;
}
.uniform-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.container-uniform {
    margin-top: 1.6%;
    margin-left: 0.8%;
}
.size-field {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -1%;
}
.container-jsize {
    margin-top: 1%; 
}
.container-ssize {
    margin-top: 1%
}
.permission {
    margin-left: 25%;
    margin-right: 20%;
    font-size: 10pt;
}
.permission-field {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 4%;
    margin-right: 10%;
}
.container-date {
    width: 100%;
    margin-left: 50%;
}
.submit-btn {
    margin-left: 45%;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 10%;
}
@keyframes slider {
    
    0% {
        left: 0;
    }
    
    20% {
        left: 0;
    }
    
    25% {
        left: -100%;
    }
    
    45% {
        left: -100%;
    }
    
    50% {
        left: -200%;
    }
    
    70% {
        left: -200%;
    }
    
    75% {
        left: -300%;
    }
    
    95% {
        left: -300%;
    }
    
    100% {
        left: -400%;
    }
    
    }
    
    #slider {
        overflow: hidden;
    }
    
    #slider figure img {
        width: 20%;  
        float: left;
    }
    
    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 20s slider infinite;
        z-index: 1;
    }










